.mainContainer{
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower';
}
.secContainer{
    background-color: rgb(226, 206, 181);
    border-radius: 20px;
    flex: 1;
    max-width: 800px;
    margin-top: 50vh;
    transform: translateY(-50%);
    padding: 15px;   
}
.barraUser{
    text-align: left;       
}
#userName{
    font-variant: small-caps;
    font-weight: 900;
    font-size: 3em;
    margin-left: 10px;
    display: inline-block;
}

#logoAccount {
    width: 12%;
    
}
#botonlogout{
    position: fixed;
    right: 10px;
}
.mainContent{
   display: flex; 
}
.barraLateral{
    background-color:whitesmoke;
    border-radius: 10px;
    flex: 1;
    padding: 15px;
        
}
.pro{
    max-width: 80%;
    text-align: center;
    flex: 3;   
}
.pro a{
    color:black;
    text-decoration: none;
}
.menuContent{
    display:none;
    position:absolute;
    background-color:white;
    min-width:200px;
    z-index:10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 10px;
    border-radius: 10px;
}
#logoAccount:hover + .menuContent{
    display:block;
}
.menuContent:hover{
    display:block;
    
}
.menuContent a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom:.5px solid rgb(220, 220, 220);
    cursor:pointer;
    font-weight: 900;
}
.menuContent a:first-child{
    border-radius:10px 10px 0px 0px
}
.menuContent a:last-child{
    border-radius:0px 0px 10px 10px
}
.menuContent a:hover{
    background-color: rgb(227, 235, 255);
}
