.AlumnoProyecto{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background: url(../Images/fondoLetras.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.myProject{
    display: flex;
}
.titleAlumnoProyecto{
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid grey;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 10px;
    margin:5px;
}
.availableLessons{
    border-radius: 20px;
    justify-content: center;
    flex: 4;
    border: 1px solid grey;
    padding: 10px;
    margin:5px ;
    background-color: rgb(255, 255, 255, 0.8);
}
.myTeam{
    border-radius: 20px;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px ;
    background-color: rgb(255, 255, 255, 0.8);
}