.avatar-lente {
    position: absolute;
    z-index: 1;
  }
.avatar-gorra {
    position: absolute;
    z-index: 1;
  }
.avatar-torso {
    position: absolute;
    z-index: 1;
  }
.avatar-persona{
    position: absolute;
}