.newClaseForm{
    padding: 15px;
    background: url(../Images/fondoLetras.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width:100%;
}
.blackLetter{
    color:rgb(10, 10, 10);
}
.whiteBox{
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid grey;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 10px;
    margin:5px;
}

.whiteTable{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
}

.boxActiv{
    display: flex;
    justify-content: space-evenly;
}
.newFile{
    border-radius: 20px;
    width: 33%;
    justify-content: center;
    border: 1px solid grey;
    padding: 10px;
    margin:5px ;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    
}

.setCuestionario{
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
   
}
.setQuizz{
    border-radius: 20px;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
}

.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
}

.buttonStyle{
    background-color: cadetblue;
    margin: 20px;
    margin-bottom: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: 0px;
    padding: 50px;
    font-weight: 900;
    font-size: 2em;
    flex:3; 
    color: rgb(54, 54, 54);
  }

  .spaceButton{
      display: flex;
      flex-direction: column;
      max-width: 30%;
      margin-bottom: 10px;
  }

.editQuizz{
    display: flex;
    flex-direction: column;
}

.quizzData{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.form-inline{
    display: flex;
    align-content: flex-start;
    gap: 5px;
    padding-left: 10px;
}

.width-table{
    width: 20%;
}