.mi-flex{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 50%;
    flex-wrap: wrap;
    gap: 5px;
}

.radio-flex{
    margin-left: 15%;
    display: flex;
    gap: 5px;
}

.center-alert{
    margin-top: 3%;
    margin-left: 5%;
    width: 50%;
}

.center-button{
    margin-top: 3%;
    margin-left: 5%;
    width: 50%;
}

.center-text{
    /* margin-top: 3%; */
    margin-left: 10%;
    width: 40%;
}

.mi-form{
    position: relative;
    margin-top: 3%;
    max-width: 60%;
}

.imagen{
    max-width: 50px;
}

.mi-alert-flex{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
}

.input-flex{
    margin-left: 20%;
    justify-content: center;
    min-width: 70%;
}

.half-length{
    width:50%;
}
