.newClaseForm{
    flex: 4;
    padding: 15px;
    background-image: url(../Images/fondoLetras.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.blackLetter{
    color:rgb(10, 10, 10);
}
.whiteBox{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
}

.flex-start{
    display: flex;
    justify-content: center;
}

.boxActiv{
    display: flex;
    margin: 0px;
    width: 100%;
     
}
.newFile{
    border-radius: 20px;
    width: 33%;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px ;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    
}

.setCuestionario{
    justify-content: center;
    flex: 1;
    width: 33%;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
   
}
.setQuizz{
    border-radius: 20px;
    width: 33%;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
}

.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
}

.buttonStyle{
    background-color: cadetblue;
    margin: 20px;
    margin-bottom: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: 0px;
    padding: 50px;
    font-weight: 900;
    font-size: 2em;
    flex:3; 
    color: rgb(54, 54, 54);
  }

.editQuizz{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.quizzData{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.form-inline{
    display: flex;
    align-content: space-around;
    padding-left: 10px;
    width: 100%;
}
