.center{
  flex:3;
  text-indent: 15%;
  text-align: left;
}
/* .left{
  flex:3;
  text-indent: 10%;
  text-align: left; 
}*/
.mainFlex{
  display: flex;
  justify-content: space-evenly;
}

.mainProyecto{
  flex-direction: column;
  flex: 4;
}

 .left{
  /* width: 20%; */
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid grey;
  padding: 10px;
  margin:5px;
}

.right{
  /* width: 50%; */
  flex-grow: 8;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid grey;
  padding: 10px;
  margin:5px;
}

.center-div{
  display: flex;
  justify-content: center;
}

.whiteboxTitle{
  /* justify-content: flex-start;
  flex-direction: column; */
  width: 99%;
  margin: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid grey;
  padding: 10px;
  margin:5px;
}

.small-img{
  margin-top: 20%;
  width: 100%;
}

.flex-start{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}