.center{
  flex:3;
  text-indent: 15%;
  text-align: left;
}
/* .left{
  flex:3;
  text-indent: 10%;
  text-align: left; 
}*/
.mainFlex{
  display: flex;
  justify-content: flex-start;
}

.mainProyecto{
  display: flex;
  flex-direction: column;
  width: 100%;
}

 .left{
  width: 20%;
}

.right{
  width: 50%;
}

.center-div{
  display: flex;
  justify-content: center;
}



.small-img{
  margin-top: 20%;
  width: 100%;
}