.mainContainer{
    margin: 0px;
    display: flex;
    font-family: 'Indie Flower';
}

.secContainer{   
    display: flex;
    justify-content: center;   
    align-items: center;
    /* align-content:space-around; */
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    /* margin-top: 50vh; */
    /* transform: translateY(-50%); */
    padding: 15px;  
}

.title{
    
    background-color: rgb(243, 242, 241); 
    font-size: 30px;
    text-align: center; 
    font-weight: 1000;

}

.annotation {
    font-size: 15px;
}