.alumnoLesson {
    flex: 4;
    padding: 15px;
    background-image: url(../Images/FondoNaranja.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Esto es para que ocupe todo el width y height */
}
.lessonActivities{
    display: flex;
    
}
.quizzCuestionario{
    flex: 3;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    width:100%;
}
.materialDocente{
    flex: 1;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    width:100%;
}
.uploadDocStudent{
    border-radius: 20px;
    justify-content: center;  
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    width:100%;
}

.TituloLesson{
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    width:100%;
}

