.alumnoLesson {
    flex: 4;
    padding: 15px;
    background: url(../Images/fondoLetras.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.lessonActivities{
    display: flex;
    
}
.quizzCuestionario{
    flex: 3;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    width:100%;
}
.materialDocente{
    flex: 1;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    width:100%;
}
.uploadDocStudent{
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    width:100%;
}

.flex-start-upload-docs{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.TituloLesson{
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    width:100%;
}

