@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.containerPrincipal{
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower'; 
}
.containerSecundario{
    background-color: rgb(240, 126, 20);
    border-radius: 20px;
    flex: 1;
    max-width: 400px;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}
#logo {
    width: 100%;
}
.inputs {
    outline: 0px;
    width: 80%;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 900;
}

.submit-button {
    margin-bottom: 20px;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    outline: 0px;
    font-weight: 900;
}

.submit-button:hover {
    cursor: pointer;
}