@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.containerPrincipal{
    /* margin: 0px; */
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower'; 
    background-image: url(../Images/fondo3.png);
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.containerSecundario{
    /* background-color: rgb(240, 126, 20); */
    border-radius: 20px;
    flex: 1;
    max-width: 400px;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;

    /* display: inline-block;
     margin: 0 0.5rem;  */
     animation-fill-mode: both;
     animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
     animation-duration: 2s; /* don't forget to set a duration! */

     align-content: center;
     border: 1px solid grey;
     border-radius: 6px;
     margin-bottom: 10px;
     margin-right: 10px;
     overflow: hidden;
}
#logo {
    width: 100%;
}
.inputs {
    outline: 0px;
    width: 80%;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 1.25em;
    background-color:lightskyblue;
}

.submit-button {
    margin-bottom: 20px;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    outline: 0px;
    font-weight: 900;
    font-size: 1.25em;
}

.submit-button:hover {
    cursor: pointer;
}

