.mainContainer{
    max-width: 100%;
    height: auto;
    font-family: 'Indie Flower';
    
}
.secContainer{
    background-color: rgb(148, 151, 156);
    border-radius: 20%;
    flex: 1;
    max-width: 80%;
    margin-top: 50%;
    transform: translateY(-50%);
    
}
.barraUser{
    text-align: left;       
}
.classcontainer{   
    justify-content: center;
    width: 100%;
}
.classButton{
    margin: 20px;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 10px;
    padding: 50px;
    outline: 0px;
    font-weight: 900;
    font-size: 2em;
    flex:1;   
}
#userName{
    font-variant: small-caps;
    font-weight: 900;
    font-size: 3em;
    margin-left: 10px;
    display: inline-block;
}

#logoAccount:hover + .menuContent{
    display:block;
}
