.secContainer #Title{
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 20px;
    border: 1px solid grey;
    /* padding: 10px; */
    /* margin:5px; */
    text-decoration: solid;
    border: 1px solid grey;
}
.secContainer #cursos{
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    text-decoration: solid;
    text-align: left;
    min-width: 70%;
}
/* .secContainer #classroomName{
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    text-decoration: solid;
    text-align: left;
    border: 1px solid grey;
} */
.misCursos{   
    /* justify-content: center; */
    min-width: 70%;
}
.classButton{
    background-color: cadetblue;
    margin: 20px;
    margin-bottom: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 50px;
    outline: 0px;
    font-weight: 900;
    font-size: 2em;
    flex:3; 
    color: rgb(54, 54, 54);
}

