.mainMenuAlumno{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background: url(../Images/fondoLetras.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titleMenuAlumno{
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid grey;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 10px;
    margin:5px;
}

.myProjectcontainer{
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid grey;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 10px;
    margin:5px;
}
.projectButton{
    background-color: cadetblue;
    margin: 20px;
    border: 1px solid grey;
    color: black;
    border-radius: 10px;
    padding: 50px;
    font-weight: 900;
    font-size: 2em;
    flex:1;   
}
