.newClaseForm{
    flex: 4;
    padding: 15px;
    background-image: url(../Images/FondoNaranja.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Esto es para que ocupe todo el width y height */
}
.nameClase{
    border-radius: 20px;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
}
.boxEnunciado{
    border-radius: 20px;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
}
.boxActiv{
    display: flex;
    margin: 0px;
    width: 100%;
     
}
.newFile{
    border-radius: 20px;
    width: 33%;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px ;
    background-color: white;
    
}

.setCuestionario{
    border-radius: 20px;
    width: 33%;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: white;
   
}
.setQuizz{
    border-radius: 20px;
    width: 33%;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: white; 
}

.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
}