.nuevaClaseForm{
    flex: 4;
    padding: 15px;
    /* background-image: url(../Images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; Esto es para que ocupe todo el width y height */
    background: url(../Images/fondo.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.nameClase{
    border-radius: 20px;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
}
.boxEnunciado{
    border-radius: 20px;
    justify-content: center;
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
}
.activities-new-clase{
    display: flex;
    flex-direction: column;
     
}
.addFileNewClase{
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px ;
    background-color: rgb(255, 255, 255, 0.8);
    
}

.addCuestionarioNewClase{
    border-radius: 20px;
    justify-content: center;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
   
}
.addQuizzNewClase{
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8); 
}

.addEntregableNewClase{
    border-radius: 20px;
    justify-content: center;
    border: 1px solid grey;
    padding: 10px;
    margin:5px;
    background-color: rgb(255, 255, 255, 0.8);
   
}

.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
}

.formInlineNewClase{
    padding-top: 20px;
    width: 100%;
}