.containerLogros {
  /* background-color: rgb(240, 126, 20); */
  border-radius: 20px;
  flex: 1;
  border: 1px solid grey;
  border-radius: 6px;

  margin-top: 2vh;
  margin-left: 1vh;
  margin-bottom: 2vh;
  margin-right: 10px;
  text-align: center;
  /* max-width: 100%;
  transform: translateY(-10%);

  align-content: center;
  overflow: hidden;
*/
}

.containerLogrosCurso {
  /* background-color: rgb(240, 126, 20); */
  border-radius: 20px;
  flex: 1;
  border: 1px solid grey;
  border-radius: 6px;

  margin-top: 2vh;
  margin-right: 10px;
  margin-bottom: 2vh;
  text-align: center;
  /* max-width: 100%;
  transform: translateY(-10%);

  align-content: center;
  overflow: hidden;
  */
}

.Buttons {
  margin: 20px;
  margin-bottom: 30px;
  border: 0px;
  border-radius: 10px;
  padding: 50px;
  outline: 0px;
  font-weight: 900;
  font-size: 2em;
  flex: 1;
}

.containerLogrosDelCurso {
  /* background-color: rgb(240, 126, 20); */
  border-radius: 20px;
  flex: 1;
  border: 1px solid grey;
  border-radius: 6px;

  margin-top: 2vh;
  margin-right: 10px;
  margin-bottom: 2vh;
  text-align: center;
  /* max-width: 100%;
  transform: translateY(-10%);

  align-content: center;
  overflow: hidden;
  */
}

.containerAvancesDelCurso {
  /* background-color: rgb(240, 126, 20); */
  border-radius: 20px;
  flex: 1;
  border: 1px solid grey;
  border-radius: 6px;

  margin-top: 2vh;
  margin-right: 10px;
  margin-bottom: 2vh;
  text-align: center;
  /* max-width: 100%;
  transform: translateY(-10%);

  align-content: center;
  overflow: hidden;
  */
}

.containerMaterias {
  /* background-color: rgb(240, 126, 20); */
  border-radius: 20px;
  flex: 1;
  border: 1px solid grey;
  border-radius: 6px;

  margin-top: 2vh;
  margin-left: 25%;
  margin-bottom: 2vh;
  text-align: center;
  max-width: 50%;
  align-content: center;
  /*
  transform: translateY(-10%);

  overflow: hidden;
  */
}
