.center{
  flex:3;
  text-indent: 15%;
  text-align: left;
}
.left{
  flex:3;
  text-indent: 10%;
  text-align: left;
}
.mainFlex{
  display: flex;
}

.left button{
  min-width: 100%;
}

.center button{
  min-width: 100%;
}

.modalStyle{
    position: "absolute";
    top: 30%;
    min-width: 700px;
    min-height: 200px;
}