*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-image:url(images/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

img{
    display: block;
    margin: 10vh auto;
}

.box_credenciales{
    display: flex;
    text-align: center;           
}
button{
    border-radius: 50px; 
    display: block;
    margin: auto;
}


